.adder-container {
  /* background-color: salmon; */
  width: 80%;
  margin: 40px auto;
  /* height: 40px; */
  line-height: 40px;
}

.time-button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.adder-container h2 {
  margin-bottom: 15px;
  text-decoration: underline;
}

.instructions {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.instructions h6 {
  display: inline-block;
  text-decoration: underline;
}

.adder-container input {
  text-align: center;
  height: 35px;
  width: 200px;
  font-size: 24px;
}

.adder-container button {
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  color: #2094e0;
}

.adder-container button:focus {
  outline: 2px dashed green;
}

.formy {
  display: grid;
  margin: 0 auto;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.formy * {
  margin: 0 auto;
}
