@import url('https://fonts.googleapis.com/css?family=Heebo:400');

* {
  font-family: "Heebo", sans-serif;
}
.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.viewer {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  overflow-y: auto;
  vertical-align: top;
}



.graph {
  margin: 0 auto;
  /* min-height: 400px; */
  text-align: center;
  width: 100%;
}

canvas {
  /* width: 100%!important;
  margin: 0 auto;
  max-width: 640px; */
}

.graph-button {
  background-color: transparent;
  /* border: none; */
  font-size: 16px;
  text-decoration: underline;
  height: 40px;
  width: 200px;
  cursor: pointer;
  margin: 10px 0;
  color: #2094E0;
}

.graph-button:focus {
  outline: none;
}
